apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: autograder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: autograder
      role: backend
  template:
    metadata:
      labels:
        app: autograder
        role: backend
    spec:
      containers:
      - name: backend
        image: hasindrae/autograder-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: autograder-secrets
              key: MONGO_URI
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: autograder-secrets
              key: SECRET_KEY
        - name: ROLE
          value: backend
