apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  labels:
    app: autograder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: autograder
      role: flask
  template:
    metadata:
      labels:
        app: autograder
        role: flask
    spec:
      containers:
      - name: flask
        image: hasindrae/evalpdfservice:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        resources:
            requests:
              memory: "512Mi"  # Demander 512 Mo de mémoire au début
              cpu: "250m"      # Demander 0.25 CPU (ajuster selon les besoins)
            limits:
              memory: "1Gi"    # Limiter l'utilisation à 1 Go de mémoire
              cpu: "500m"      # Limiter l'utilisation à 0.5 CPU (ajuster selon les besoins)
